.search-box{
    /* //position: relative; */
    margin-bottom: 0;
    
}
.header-middle{
    background: #F0F2F3;

}
input[type=search]{
    outline-style: none;
    border-style:none!important;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 70%;
    height: 30px;
}
.search-btn{
    border-style: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}